In [2]:
import keras

Using TensorFlow backend.

In [3]:
from keras.models import Sequential

In [4]:
from keras.layers import Dense

In [5]:
import numpy as np

In [26]:
import pandas as pd

In [6]:
import tensorflow as tf

## Sequential  클래스 

     딥러닝 계층을 만드는 클래스

In [34]:
Sequential

keras.engine.sequential.Sequential

In [35]:
type(Sequential)

type

## Dense 클래스

In [36]:
Dense

keras.layers.core.Dense

In [37]:
type(Dense)

type

In [7]:
seed = 0

In [9]:
np.random.seed(seed)

In [10]:
tf.set_random_seed(seed)

## 데이터 읽어오기

종양유형, 폐활량,  호흡곤란여부, 고통정도, 흡연, 기침 등의 정보

In [13]:
Data_set = np.loadtxt("./deeplearning/dataset/ThoraricSurgery.csv", delimiter=',')

In [15]:
Data_set.shape

(470, 18)

## 헤더 없이 판다스로 읽기

In [31]:
data = pd.read_csv("./deeplearning/dataset/ThoraricSurgery.csv", header=None)

In [32]:
data.head()

    0   1     2     3   4   5   6   7   8   9   10  11  12  13  14  15  16  17
0  293   1  3.80  2.80   0   0   0   0   0   0  12   0   0   0   1   0  62   0
1    1   2  2.88  2.16   1   0   0   0   1   1  14   0   0   0   1   0  60   0
2    8   2  3.19  2.50   1   0   0   0   1   0  11   0   0   1   1   0  66   1
3   14   2  3.98  3.06   2   0   0   0   1   1  14   0   0   0   1   0  80   1
4   17   2  2.21  1.88   0   0   1   0   0   0  12   0   0   0   1   0  56   0

In [33]:
data.shape

(470, 18)

In [38]:
470/30

15.666666666666666

## 훈련 데이터 : 속성

In [16]:
X = Data_set[:, 0:17]

## 정답 데이터 : 클래스

In [17]:
Y = Data_set[:, 17]

In [18]:
model = Sequential()

In [19]:
model.add(Dense(30, input_dim=17, activation='relu'))

WARNING:tensorflow:From C:\Users\dahlmoon\Anaconda3\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [21]:
model.add(Dense(1, activation='sigmoid'))

In [23]:
model.compile(loss="mean_squared_error", optimizer='adam', metrics=['accuracy'])

In [24]:
model.fit(X, Y, epochs=30, batch_size=10)

WARNING:tensorflow:From C:\Users\dahlmoon\Anaconda3\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/30
470/470 [==============================] - 0s 342us/step - loss: 0.3521 - acc: 0.2681
Epoch 2/30
470/470 [==============================] - 0s 55us/step - loss: 0.2394 - acc: 0.8489
Epoch 3/30
470/470 [==============================] - 0s 55us/step - loss: 0.2328 - acc: 0.8511
Epoch 4/30
470/470 [==============================] - 0s 55us/step - loss: 0.2265 - acc: 0.8511
Epoch 5/30
470/470 [==============================] - 0s 59us/step - loss: 0.2203 - acc: 0.8511
Epoch 6/30
470/470 [==============================] - 0s 57us/step - loss: 0.2144 - acc: 0.8511
Epoch 7/30
470/470 [==============================] - 0s 51us/step - loss: 0.2088 - acc: 0.8511
Epoch 8/30
470/470 [==============================] - 0s 53us/step - loss: 0.2035 - acc: 0.8511
Epoch 9/30
470/470 [==============================] - 0s 53us/step - loss: 0.1985 - acc: 0.8511
Epoch 10/30
470/470 [==============================] - 0s 53us/step - loss: 0.1938 - acc: 0.8511
Epoch 11/30
470/470 [==============================] - 0s 53us/step - loss: 0.1893 - acc: 0.8511
Epoch 12/30
470/470 [==============================] - 0s 53us/step - loss: 0.1852 - acc: 0.8511
Epoch 13/30
470/470 [==============================] - 0s 51us/step - loss: 0.1813 - acc: 0.8511
Epoch 14/30
470/470 [==============================] - 0s 53us/step - loss: 0.1776 - acc: 0.8511
Epoch 15/30
470/470 [==============================] - 0s 55us/step - loss: 0.1742 - acc: 0.8511
Epoch 16/30
470/470 [==============================] - 0s 51us/step - loss: 0.1711 - acc: 0.8511
Epoch 17/30
470/470 [==============================] - 0s 53us/step - loss: 0.1681 - acc: 0.8511
Epoch 18/30
470/470 [==============================] - 0s 53us/step - loss: 0.1653 - acc: 0.8511
Epoch 19/30
470/470 [==============================] - 0s 51us/step - loss: 0.1627 - acc: 0.8511
Epoch 20/30
470/470 [==============================] - 0s 53us/step - loss: 0.1603 - acc: 0.8511
Epoch 21/30
470/470 [==============================] - 0s 55us/step - loss: 0.1580 - acc: 0.8511
Epoch 22/30
470/470 [==============================] - 0s 53us/step - loss: 0.1559 - acc: 0.8511
Epoch 23/30
470/470 [==============================] - 0s 49us/step - loss: 0.1539 - acc: 0.8511
Epoch 24/30
470/470 [==============================] - 0s 53us/step - loss: 0.1521 - acc: 0.8511
Epoch 25/30
470/470 [==============================] - 0s 51us/step - loss: 0.1504 - acc: 0.8511
Epoch 26/30
470/470 [==============================] - 0s 53us/step - loss: 0.1488 - acc: 0.8511
Epoch 27/30
470/470 [==============================] - 0s 53us/step - loss: 0.1473 - acc: 0.8511
Epoch 28/30
470/470 [==============================] - 0s 53us/step - loss: 0.1459 - acc: 0.8511
Epoch 29/30
470/470 [==============================] - 0s 53us/step - loss: 0.1446 - acc: 0.8511
Epoch 30/30
470/470 [==============================] - 0s 49us/step - loss: 0.1434 - acc: 0.8511

In [25]:
print("\n Accuray : %.4f " % (model.evaluate(X, Y)[1]))

470/470 [==============================] - 0s 48us/step

 Accuray : 0.8511